<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="refresh" content="20"> -->
    <link rel="stylesheet" href="../../lib/css/mui.min.css">
    <link rel="stylesheet" href="../../lib/css/mui.picker.min.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/yingye/allToday.css">
    <title>车吧族</title>
</head>

<body>
    <div class="che_container che_newcont">
        <div class="che_header">
            <a class="icon_left">
                <span class="mui-action-back mui-icon mui-icon-back"></span>
            </a>
            <h4>月度利润统计报表</h4>
        </div>
        <div class="loading hiden">
            <img src="../../img/loading.gif" alt="">
        </div>

        <div class="che_main hiden">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="drive_main">
                        <div class="eachres">
                            <!-- <div id="main" style="width: 646px;height:436px;"> -->
                            <div class="chart" id="breakChart"></div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="searchs">
                        <div class="day_search che_display">
                            <div class="search_fa">
                                <input type="text" class="day_start" placeholder="yyyy-MM" readonly>
                                <span>--</span>
                                <input type="text" class="day_end" placeholder="yyyy-MM" readonly>
                            </div>
                            <button class="go_search">查找</button>
                        </div>
                    </div>
                    <div class="today_all">
                        <span>订单总利润:</span>
                        <span><em class="all_dayPrice">0</em>元</span>
                        <span>员工总工资:</span>
                        <span><em class="all_yuPrice">0</em>元</span>
                        <span>实际总利润:</span>
                        <span><em class="all_AllPrice">0</em>元</span>
                    </div>
                    <div class="today_main">
                        <div class="day_box che_display monthlyBox">
                            <div class="day_title che_display">
                                <span>时间</span>
                                <span>订单利润</span>
                                <span>员工工资</span>
                                <span>临时支出</span>
                                <span>实际利润</span>
                            </div>
                            <div class="day_mains todayMoney">
                                <!-- <div class="che_display titleSons">
                                    <span>2018-07-12</span>
                                    <span>579.00</span>
                                    <span>579.00</span>
                                    <span>579.00</span>
                                    <span>579.00</span>
                                    <span>579.00</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="pages shitsOne">
                        <div class="che_display page_main">
                            <span class="mui-icon mui-icon-arrowleft" data-id="1"></span>
                            <div class="page_pages onePage che_display" data-id="1">
                                <span class="page_color page_son">1</span>
                            </div>
                            <span class="mui-icon mui-icon-arrowright" data-id="1"></span>
                            <div class="page_input che_display">
                                <span>到第</span>
                                <input type="text" value="1" class="pagesNum onePagenum">
                                <span>页</span>
                                <button class="btns" data-id="1">确定</button>
                            </div>
                            <div class="page_alls">
                                <span>共</span>
                                <span class="page_twoNum">0</span>
                                <span>条</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../lib/js/mui.min.js"></script>
<script src="../../lib/js/jquery.min.js"></script>
<script src="../../lib/js/template.js"></script>
<script src="../../lib/js/mui.picker.min.1.js"></script>
<script src="../../lib/js/echarts.min.js"></script>
<script src="../../js/rem.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/yingye.js"></script>
<script src="../../js/index/yingye/monthly.js"></script>
<script type="text/html" id="tpl">
    {{if data.length>0 }}
        {{each data as v i}}
            <div class="che_display titleSons">
                <span>{{v.c_time}}</span>
                <span>{{v.allPrice}}</span>
                <span>{{v.allMoney}}</span>
                <span>{{v.account_price}}</span>
                <span>{{v.allRealityPrice}}</span>
            </div>
        {{/each}}
    {{else}}
        <!-- <div class="che_display noHave">
            <span>暂无数据</span>
        </div> -->
    {{/if}}
</script>
<!-- <script type="text/html" id="tpls">
    {{if saleData.length>0 }}
        {{each saleData as v i}}
            <div class="che_display titleSons">
                <span>{{v.c_time}}</span>
                <span>{{v.allPrice}}</span>
                <span>{{v.wechatOrder}}</span>
                <span>{{v.alipayOrder}}</span>
                <span>{{v.moneyOrder}}</span>
                <span>{{v.cardOrder}}</span>
                <span>{{v.restOrder}}</span>
            </div>
        {{/each}}
    {{else}}
    {{/if}}
</script> -->

</html>