.che_main .tosuit_main .tosuit_top .pay_content {
  padding-top: .25rem;
  padding-bottom: .5rem;
  padding-left: .65rem;
}
.che_main .tosuit_main .tosuit_top .pay_content .tosuit_pai {
  width: 9.25rem;
  font-size: .75rem;
  padding-top: .25rem;
}
.che_main .tosuit_main .tosuit_top .pay_content .pay_sons {
  flex-wrap: wrap;
  justify-content: space-between;
}
.che_main .tosuit_main .tosuit_top .pay_content .pay_sons > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 3.75rem;
  align-items: flex-start;
  line-height: 1.5rem;
  font-size: .75rem;
}
.che_main .tosuit_main .tosuit_top .pay_content .pay_sons > div > .iconfont {
  color: #ccc;
  margin-right: .2rem;
}
.che_main .tosuit_main .tosuit_top .pay_content .pay_sons > div > .pay_color {
  color: #ea5504;
}
.che_main .tosuit_main .tosuit_top .pay_vip {
  border-top: 1px solid #f5f5f5;
  font-size: .65rem;
  padding: .5rem;
  padding-right: 0;
}
.che_main .tosuit_main .tosuit_top .pay_vip .tosuit_pai {
  padding-top: .25rem;
  font-size: .65rem;
  margin-right: .25rem;
}
.che_main .tosuit_main .tosuit_top .pay_vip .payVip_name {
  flex-direction: column;
}
.che_main .tosuit_main .tosuit_top .pay_vip .payVip_name > div {
  line-height: 1.5rem;
}
.che_main .tosuit_main .tosuit_top .pay_vip .payVip_name > div > .cli_font {
  color: #ccc;
}
.che_main .tosuit_main .tosuit_top .pay_vip .payVip_name > div > .cliPays {
  color: #ea5504;
}
.che_main .tosuit_main .tosuit_top .moneys {
  justify-content: space-between;
}
.che_main .tosuit_main .tosuit_top .moneys > .tixing {
  padding: 0px;
  align-items: center;
  color: red;
  display: none;
}
.che_main .tosuit_main .tosuit_top .moneys > .tixing > span {
  line-height: 2.5rem;
}
.che_main .tosuit_main .tosuit_top .tosuit_content {
  height: auto !important;
  line-height: normal !important;
  padding: .5rem 0;
}
.che_main .tosuit_main .tosuit_top .tosuit_content #pay_youhui,
.che_main .tosuit_main .tosuit_top .tosuit_content #pay_buy,
.che_main .tosuit_main .tosuit_top .tosuit_content #pay_today {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-left: .75rem;
  color: #000000;
  width: 5rem;
  margin: 0px;
  height: 100%;
}
.che_main .tosuit_main .tosuit_top .tosuit_content .tosuit_pai {
  font-size: .75px;
}
.che_main .tosuit_main .tosuit_top #beizhu {
  padding: .5rem 0;
  padding-left: .65rem;
  font-size: .75rem;
}
.che_main .tosuit_main .tosuit_top #beizhu .tosuit_pai {
  width: 5.5rem;
}
.che_main .tosuit_main .tosuit_top #beizhu textarea {
  margin: 0px;
  font-size: .75rem;
  height: 5rem;
  padding: 0;
  padding-left: .25rem;
}
.che_main .tosuit_main .tosuit_top #beizhu .qitaConter {
  height: 2.5rem;
}
.che_main .tosuit_main .tosuit_top #beizhu .qiyatext {
  width: 4rem;
}
.che_main .tosuit_main .tosuit_top .qita {
  display: none;
}
.che_main .tosuit_main .tosuit_top .buyers {
  font-size: .75rem;
}
.che_main .tosuit_main .tosuit_top .buyers #pay_buy,
.che_main .tosuit_main .tosuit_top .buyers #pay_today {
  height: 28px;
  width: 4rem;
  margin-right: .5rem;
  padding-left: .4rem;
}
.che_main .tosuit_main .tosuit_top .buyers .buy_main {
  padding-top: .25rem;
  padding-bottom: .5rem;
  padding-left: .65rem;
}
.che_main .tosuit_main .tosuit_top .buyers .buy_main .buyer_secend {
  flex-wrap: wrap;
  justify-content: space-between;
}
.che_main .tosuit_main .tosuit_top .buyers .buy_main .buyer_secend .buy_one {
  padding-left: .2rem;
}
.che_main .tosuit_main .tosuit_top .buyers .buy_main .buyer_secend .buy_one .iconfont {
  color: #ccc;
  margin-right: .1rem;
}
.che_main .tosuit_main .tosuit_top .buyers .buy_main .buyer_secend .buy_one .buyer_color {
  color: #ea5504;
}
.che_main .tosuit_main .tosuit_top .coupon {
  flex-wrap: wrap;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_style {
  font-size: 15px;
  margin-bottom: 10px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_style > span {
  padding-right: 10px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_style > div:last-child {
  margin-left: 10px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_style .coupon_color {
  color: #ea5504;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main {
  flex-wrap: wrap;
  width: 100%;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced > #pay_youhui {
  height: 28px;
  margin-left: 10px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced .coupon_list {
  flex-direction: column;
  font-size: 14px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced .coupon_list .coupon_one {
  padding-bottom: 8px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced .coupon_list .coupon_one .thisColor {
  color: #ea5504;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced .coupon_list .coupon_one:last-child {
  padding: 0px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced .coupon_list .coupon_two {
  padding-bottom: 8px;
  color: #ccc;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced .coupon_list .coupon_two:last-child {
  padding: 0px;
}
.che_main .tosuit_main .tosuit_top .coupon .coupon_main .reduced .reduced_one {
  width: 75px;
  margin-right: 8px;
  text-align: right;
}
.che_main .tosuit_main .tosuit_top .coupon .practical {
  display: inline-block;
  font-size: .8rem;
  margin-top: 10px;
}
.che_main .tosuit_main .reception_footer {
  height: 3.1rem;
  padding: .5rem 0;
}
.che_main .tosuit_main .reception_footer .reception_message {
  height: 2.1rem;
  line-height: 2.1rem;
  border-radius: .25rem;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  background-color: #ea5504;
  background: -webkit-linear-gradient(left, #ff8417, #ea5504);
  background: linear-gradient(left, #ff8417, #ea5504);
}
